[Unit]
Description=Sauce Labs Forwarder Service
After=network-online.target

[Service]
Type=simple
User=forwarder
Group=forwarder
LimitCORE=infinity
EnvironmentFile=/etc/default/forwarder
ExecStart=/usr/bin/forwarder run
TimeoutStartSec=900
TimeoutStopSec=900
KillMode=process
Restart=on-failure
RestartPreventExitStatus=1
StandardOutput=journal
StandardError=journal
SyslogLevelPrefix=false

[Install]
WantedBy=multi-user.target
